<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="JDE Automation" verbose="1" parallel="tests"
	thread-count="5" configfailurepolicy="continue">

  <test name="playwazeHome" annotations="JDK" preserve-order="true">
    <parameter name="tags" value="not @42" />
    <classes>
      <class name="com.helios.runner.PlaywazeHome" />
    </classes>
  </test>
  
 
  
</suite>